<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/schema/10.5.xsd"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="false"
    bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="BeelabRecaptcha2Bundle test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
