<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="BeelabRecaptcha2Bundle test suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>src</directory>
        </include>
    </coverage>
</phpunit>
